.aboutWrapper{
    display: flex;
    flex-direction: column;
    padding: 0 5% 5% 5%;
}

.introMission{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 2% 2.5% 2% 2.5%;
}

.ducklingContainer{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    /* padding: 2% 2% 2% 2%; */
    margin: 5% 5% 5% 5%; 
}

.heroParagraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px white solid;
    background-color: black;
    border-radius: 8px;
    text-align:justify;
    padding: 4% 4%;
    margin: 0 2.5% 0 2.5%;
}

.expTool{
    display: flex;
    flex-direction: column;
}

.expCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expCard{
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height:100%;
    border: 8px white solid;
    background-color: black;
    border-radius: 8px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 4% 4%;
    margin: 2% 2.5% 2% 2.5%;
}

.clientWork{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px white solid;
    background-color: black;
    border-radius: 8px;
    margin: 2% 2.5% 2% 2.5%;
}

.clientCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.clientCard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: justify;
    width: 35%;
    border: 8px white solid;
    background-color: black;
    border-radius: 8px;
    margin: 4% 4%;
    padding: 2% 2%;
}


.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px white solid;
    background-color: black;
    border-radius: 8px;
    margin: 2% 2.5% 2% 2.5%;
}

.educationCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.educationCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44%;
    border: 8px white solid;
    background-color: black;
    border-radius: 8px;
    padding: 0 2% 0 2%;
    margin: 4% 4%;
}

/* Phone breakpoint */
@media(width <= 480px){
    .heroContainer{
        flex-direction: column;
        align-items: center;
    }
    .educationCards{
        flex-direction: column;
    }
    .educationCard{
        width: initial;
        margin: 4% 5%;
    }
    .expCards{
        flex-direction: column;
    }
    .expCard{
        width: initial;
        text-align: justify;
    }
    .clientCards{
        flex-direction: column;
    }
    .clientCard{
        width: initial;
        margin: 4% 5%;
        text-align: center;
    }
}

/* Tablet breakpoint */
@media (480px < width <= 768px){
    .heroContainer{
        flex-direction: column;
        align-items: center;
    }
    .educationCards{
        flex-direction: column;
    }
    .educationCard{
        width: initial;
        margin: 4% 5%;
    }
    .expCards{
        flex-direction: column;
    }
    .expCard{
        width: initial;
        text-align: justify;
    }
    .clientCards{
        flex-direction: column;
    }
    .clientCard{
        width: initial;
        margin: 4% 5%;
        text-align: center;
    }
}