.contactWrapper{
    display: flex;
    flex-direction: column;
    padding: 0 20% 0 20%;
}

.contactCard{
    display: flex;
    flex-direction: row;
    border: 8px white solid;
    border-radius: 8px;
    background-color: black;
    padding: 0 1% 0 2%;
    top: 2%;
}

.magueyContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    padding: 0 0 10% 2%;
}

.contactContent{
    display: flex;
    flex-direction: column;
}