
.navbar,
.navbar > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    font-size: 1.75rem;
}

.navbar > ul {
    justify-content: space-around;
    list-style: none;
}

.navbar > ul > li{
    border: 8px white solid;
    border-radius: 8px;
    background-color: black;
    padding: 1% 2% 1% 2%;
}

.navbar{
    border: 2px solid pink;
}

Link, li{
    text-decoration: none;
}