/* import PixelCode font */
@font-face {
  font-family: "PixelCode";
  src: url("./assets/PixelCode.otf") format("opentype");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PixelCode";
  color: white;
  /* max-width: 100vw; */
  /* max-height: 100vh; */
}

.backgroundContainer{
    width: 100%;
    height: 100%;
    background-image: url('./assets/checkerboard.svg');
    background-repeat: repeat;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(245, 140, 238)
}


